html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

.clear{clear: both;}
ul {list-style: none;}

body{
    padding: 0;
    background-color: #bac1e8;
    font-family: "Arial", sans-serif;
    font-size: 14px;
}

header {
    
    background-color: #444759;
    height: 100px;
    color: #fff;
    padding: 15px;
}
header h1{
    font-size: 3em;
    margin: 22px 0;
    text-align: left;
}

header img {
    position: absolute;
    right: 0px;
    top: -10px;
}

footer {
    background-color: #666978;
    padding: 15px;
    color: #fff;
}
footer ul li {
    display: inline-block;
    font-size: 1em;
}

nav{
    background-color: #444759;
    color: #fff;
    margin-top: 15px !important;
    border-radius: 5px;
}

nav ul {
    line-height: 48px;
}
nav ul li {
    display: inline-block;
    color: #fff;
    font-size: 1.5em;
}

ul li {
  position: relative;
  -webkit-transform: translateZ(0);
  /** To avoid a flash when hover messages **/
}

nav ul>li>a {
    padding: 0 20px;
    display: block;
    line-height: 45px;
    transition: background .3s;
    text-decoration: none;
    color: inherit;
}

nav ul>li>a:hover {
  background: #666978;
  border-bottom: 4px solid #1ACACE;
  text-decoration: none;
}

nav>a{
   top: 10px;
    right: 15px;
    position: absolute;
    background: #1ACACE;
    display: block;
    width: 175px;
    line-height: 30px;
    font-size: 1.4em;
    color: #fff;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
    transition: background .3s;
    border: none;
    text-decoration: none;
    font-variant: small-caps;
}

nav>a:hover{
    background: #19adb0;
}

main {
    padding: 15px;
}

/* Formulaire Connexion ------------------------------------------------------------------------ */

input {
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.conn_container {
  margin: 0 auto;
  max-width: 20rem;
  width: 90%;
  height: 100%;
  text-align: center;
}

.conn_container h1,  .conn_container p{
  color : #444759;
  font-weight: bold;
}

.conn_container h1 {
	margin-top: 35%;
}

.form {
	margin-top: 15px;
}

.form input[type="password"], .form input[type="text"], .form input[type="submit"] {
  width: 100%;
}
.form--login {
  color: #d3d7cf;
}
.form--login label,
.form--login input[type="text"],
.form--login input[type="password"],
.form--login input[type="submit"] {
  border-radius: 0.25rem;
  padding: 1rem;
}
.form--login label {
  background-color: #444759;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.form--login input[type="text"], .form--login input[type="password"] {
  background-color: #666978;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.form--login input[type="text"]:focus, .form--login input[type="text"]:hover, .form--login input[type="password"]:focus, .form--login input[type="password"]:hover {
  background-color: #666978 !important;
}
.form--login input[type="submit"] {
  background-color: #1ACACE;
  transition: background-color .3s;
  color: #eee;
  font-weight: bold;
  text-transform: uppercase;
}
.form--login input[type="submit"]:focus, .form--login input[type="submit"]:hover {
  background-color: #19adb0;
}
.form__field {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap-reverse;
  margin-bottom: 1rem;
}
.form__input {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Styles et couleurs -------------------------------------------------------------------------- */

.centrer{
    width: 75%;
    margin: auto;
     position: relative;
}

.requis {
	color: #c00;
}

.erreur {
	color: #ee0404 !important;
    width: 100%;
    font-weight: bold;
    padding-bottom: 10px;
}

.succes {
	color: #090;
}

.info {
	font-style: italic;
	color: #E8A22B;
}